<footer>
[% IF session.user.name %]
	<p>Logged in as [% session.user.name %]</p>
	<p><a href="/logout">[% l('logout') %]</a></p>
[% ELSE %]
	<p><a href="/login">[% l('login') %]</a></p>
	<p><a href="/register">[% l('register') %]</a></p>
[% END %]
</footer>
<footer><p>Powered by Rataforo</p></footer>

</body>
</html>
