<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>[% page.title %]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* { margin: 0px; padding: 0px; box-sizing: border-box; }

body {
}

@media only screen and (max-width: 600px) {
    input[type='text'], input[type='password'], input:not([type]), textarea, select
    {
	font-size: 16pt;
    }
}

body>header,body>section,body>footer,body>article,.messages {
    display: block;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header h1 { font-size: 14pt; font-weight: normal; }
header article { font-size: 10pt; }
header.index article { padding-left: 0px; }

.messages>div { padding: 3pt; margin: 4pt auto; font-size: 10pt; }
.messages>.message_success { background-color: #6a6; color: #262; }
.messages>.message_fail { background-color: #c22; color: #600; }

section.index_board { margin: 14pt auto; }
section.index_board h1 { font-size: 14pt; font-weight: normal; }
section.index_board article { font-size: 12pt; padding-left: 0px; }
section.index_board aside { font-size: 10pt; }

section.threads li { font-size: 12pt; list-style-type: none; margin: 14pt 0pt; }

nav.trail { display: block; max-width: 95%; margin: 7pt auto; font-size: 9pt; }
nav.trail a { display: inline-block; }
nav.trail a:before { content: ' » ' }

section.reply { font-size: 12pt; margin: 14pt auto; }
header.author { font-size: 9pt; color: #888; }
header.author img.avatar {
    float: left;
    clear: left;
    max-width: 30px;
    margin-right: 8px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
section.thread, section.reply, section.new_reply {
    padding: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    max-width: 60em;
}

section.thread .num_replies {
    font-size: 10pt;
    color: #ccc;
}

article {
    padding-left: 38px;
}

article p {
	padding: 4px 0px;
}

article blockquote {
	background-color: #eee;
	padding: 4px 8px;
	border-left: 4px solid #ccc;
}

section.new_thread input[name='subject'] {
    width: 100%;
}

section.new_thread textarea, section.new_reply textarea {
    width: 100%;
}

section.users li { list-style-type: none; margin: 4pt; }
section.users img.avatar {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    max-width: 20px;
}

section.user img.avatar {
    float: left;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
section.user dl { display: block; margin-left: 90px; }
section.user dt { font-weight: bold; }
section.user dt:after { content: ': ' }
section.user dd { margin-left: 80px; margin-bottom: 8px; }


footer { font-size: 8pt; color: silver;}
</style>
</head>
<body>

[% INCLUDE messages.tt2 %]
