<h1>[% board.title %]</h1>

<ul>
[% FOREACH thread = board.threads %]
<li><a href="/thread/[% thread.board_id %]/[% thread.thread_id %]">[% thread.subject %]</a></li>
[% END %]
</ul>

[% INCLUDE post.template %]
