<header>
<h1>[% site.title %]</h1>
<article>[% site.description %]</article>
</header>

[% FOREACH board = boards %]
<section class="index_board">
	<h1><a href="/board/[% board.board_id %]">[% board.title %]</a></h1>
	<article>[% board.description %]</article>
</section>
[% END %]
