<section>
	<h1>[% l('login') %]</h1>
	<form method="post" action="do_login">
	<dl>
		<dt>[% l('username') %]</dt>
			<dd><input name="user_id"></dd>
		<dt>[% l('password') %]</dt>
			<dd><input name="passwd" type="password"></dd>
		<dt><input type="submit" value="[% l('do_login') %]">
	</dl>
	</form>
</section>
