<section>
	<h2>[% l('new_thread') %]</h2>
	<form method="post" action="/new_thread">
	<input name="subject">
	<textarea name="message"></textarea>
	<input type="submit" value="[% l('do_post') %]">
	</form>
</section>
