<section>
	<h1>[% thread.subject %]</h1>
	<article>[% thread.message %]</article>
</section>

[% FOREACH reply = thread.replies %]
<article>[% reply.message %]</article>
[% END %]

[% INCLUDE reply.template %]

